/* realign background image */
._960e4207cea8323e-bg {
  background-position: var(--background-position, right) !important;
}

/* Custom font for channel names */
.c69b6db0641110f6-containerDefault {
  font-family: var(--font-name);
}

/* Remove mobile icon */
foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"]::after {
  visibility: hidden !important;
}

#app-mount ._44b0c28be7879b7b-wrapper foreignObject[mask*=mobile]:after {
  display: none;
}

/* Reset groupchat name font */
._4f07413b2d47139a-input {
  font-family: var(--font-name) !important;
  font-weight: inherit !important;
}


:root.theme-dark {
    --window-blur: 8px;
}

:root {
    --memberlist-border-radius: 0px;
}


/* hacky fullscreen screenshare */
._6981dc6d72610110-videoFrame {
    transform: scale(1.19) translateY(50px);
}

._6981dc6d72610110-participantsWrapperAnimated {
    transition: transform 0.15s ease-in-out;
}

._6981dc6d72610110-root:not(:hover) ._6981dc6d72610110-participantsWrapperAnimated {
    transform: translateY(300px) !important;
}


._740174f3d6a2c8fe-hasStackedBar {
    border-radius: 8px;
}

html.theme-dark ._740174f3d6a2c8fe-stackedBars {
    padding: 10px;
    margin: 20px 20px 10px 20px;
    background: #181a1d;
    border-radius: var(--window-border-radius)
}


/* Glowing unread divider */
._908e20001ad67812-isUnread::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: calc(100% - 0.5rem);
    height: 1px;
    background: linear-gradient(
        90deg,
        rgba(237, 0, 255, 1) 0%,
        #fb5454 25%,
        rgba(0, 0, 0, 0) 50%,
        #fb5454 75%,
        rgba(254, 0, 255, 1) 100%
    );
    filter: blur(8px);
}
._908e20001ad67812-isUnread::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: calc(100% - 0.5rem);
    height: 1px;
    background: linear-gradient(
        90deg,
        rgba(237, 0, 255, 1) 0%,
        #fb5454 25%,
        rgba(0, 0, 0, 0) 50%,
        #fb5454 75%,
        rgba(254, 0, 255, 1) 100%
    );
}


/* Hide invisible scrollbars */
._629e4c86564a4ee7-scroller {
    width: calc(100% + 8px);
}
._36d072eab2b2e737-scroller {
    width: calc(100% + 16px);
}
