/* text color for youtube links */
[href*="youtu.be"],
[href*="youtube.com"] {
  color: #d93530 !important;
}

/* hide message in the sidebar when using dark mode */
  .theme-dark .sidebar_e031be .content__690c5:after {
    color: rgba(255, 255, 255, 0) !important;
    text-shadow: none !important;
}

/* realign background image */
.bg__12180 {
  background-position: var(--background-position, right);
}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
  display: none;
}

/* Hide super reaction button */
div[aria-label="Add Super Reaction"] {
  display: none;
}

/* Hide super reaction tab in emoji picker */
button[id="super-reaction-picker-tab"] {
  display: none;
}

/* Custom font for channel names */
.containerDefault_ae2ea4 {
  font-family: var(--font-name);
}

/* Remove mobile icon */
foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"]::after {
  visibility: hidden !important;
}

#app-mount .wrapper__3ed10 foreignObject[mask*=mobile]:after {
  display: none;
}

/* Reset groupchat name font */
.input__723c9 {
  font-family: var(--font-name) !important;
  font-weight: inherit !important;
}

/* Change the message in the messagebox when you're restricted from sending messages in that channel. */
.innerDisabled__1d121 .placeholder_dec8c7::before {
  content: "Unfortunately, you can't chill in this channel.";
}

/* Improve steam link readability */
[href*="store.steampowered.com"], [href*="https://s.team"], [href*="steamcommunity.com/"] {
  color: #899db6 !important;
}

/* Make unread DM's highlighted based on accent color */
.link__3a950:has(.highlighted_e2e5df), .modeUnreadImportant__35358:has(.mentionsBadge__3d019) {
  border-left: 2px solid rgba(var(--accentcolor), 0.8);
  background: linear-gradient(
    90deg,
    rgba(var(--accentcolor), 0.3),
    rgba(var(--accentcolor), 0.2),
    transparent
  );
}

/* Remove outer margin & fix buttons */
:root.theme-dark {
  --window-margin: 0px;
  --window-border-radius: 0px;
}

.theme-dark .winButtonClose__6396d,
.theme-dark .winButtonMinMax_caf9c8:nth-child(3),
.theme-dark .winButtonMinMax_caf9c8:nth-child(2n),
.theme-dark .winButtonClose__6396d:hover,
.theme-dark .winButtonMinMax_caf9c8:nth-child(3):hover,
.theme-dark .winButtonMinMax_caf9c8:nth-child(2n):hover {
  top: -4px;
  right: 0px;
  padding: 0px;
  padding-inline: 10px;
  margin: 0px;
  border-radius: 0px 0px 0px 0px;
}

.theme-dark .winButtonMinMax_caf9c8:nth-child(2n) {
  border-radius: 5px 0px 0px 5px;
}

.theme-dark .wordmark__5b8c9::before {
  border-radius: 5px;
  border-left: 0px;
  padding: 5px 11px 6px 10px;
  margin-left: -14px;
  margin-top: -5px;
}