/* text color for youtube links */
[href*="youtu.be"],
[href*="youtube.com"] {
  color: #d93530 !important;
}

/* hide message in the sidebar when using dark mode */
  .theme-dark .sidebar_a4d4d9 .content_eed6a8:after {
    color: rgba(255, 255, 255, 0) !important;
    text-shadow: none !important;
}

/* realign background image */
.bg_d4b6c5 {
  background-position: var(--background-position, right);
}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
  display: none;
}

/* Hide super reaction button */
div[aria-label="Add Super Reaction"] {
  display: none;
}

/* Hide super reaction tab in emoji picker */
button[id="super-reaction-picker-tab"] {
  display: none;
}

/* Custom font for channel names */
.containerDefault_f6f816 {
  font-family: var(--font-name);
}

/* Remove mobile icon */
foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"]::after {
  visibility: hidden !important;
}

#app-mount .wrapper_c51b4e foreignObject[mask*=mobile]:after {
  display: none;
}

/* Reset groupchat name font */
.input_f8b740 {
  font-family: var(--font-name) !important;
  font-weight: inherit !important;
}

/* Change the message in the messagebox when you're restricted from sending messages in that channel. */
.innerDisabled_d0696b .placeholder_a552a6::before {
  content: "Unfortunately, you can't chill in this channel.";
}

/* Improve steam link readability */
[href*="store.steampowered.com"], [href*="https://s.team"], [href*="steamcommunity.com/"] {
  color: #899db6 !important;
}

/* Make unread DM's highlighted based on accent color */
.link_c91bad:has(.highlighted_f9647d), .modeUnreadImportant_d8bfb3:has(.mentionsBadge_e2a798) {
  border-left: 2px solid rgba(var(--accentcolor), 0.8);
  background: linear-gradient(
    90deg,
    rgba(var(--accentcolor), 0.3),
    rgba(var(--accentcolor), 0.2),
    transparent
  );
}

/* Remove outer margin & fix buttons */
:root.theme-dark {
  --window-margin: 0px !important;
  --window-border-radius: 0px !important;
}

.theme-dark .winButtonClose_a934d8,
.theme-dark .winButtonMinMax_a934d8:nth-child(3),
.theme-dark .winButtonMinMax_a934d8:nth-child(2n),
.theme-dark .winButtonClose_a934d8:hover,
.theme-dark .winButtonMinMax_a934d8:nth-child(3):hover,
.theme-dark .winButtonMinMax_a934d8:nth-child(2n):hover {
  top: -4px;
  right: 0px;
  padding: 0px;
  padding-inline: 10px;
  margin: 0px;
  border-radius: 0px 0px 0px 0px;
}

.theme-dark .winButtonMinMax_a934d8:nth-child(2n) {
  border-radius: 5px 0px 0px 5px;
}

.theme-dark .wordmark_a934d8::before {
  border-radius: 5px;
  border-left: 0px;
  padding: 5px 11px 6px 10px;
  margin-left: -14px;
  margin-top: -5px;
}
